body {
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
}

#difficult {
    width: 304px;
}

#info {
    width: 304px;
}

.snakeGame {
    height: 608px;
    width: 608px;
    margin: 0 auto;
}
.buttons {
    margin: 0 auto;
    width: 608px;
}
.imgButton {
    width: 100px;
}
.buttonY {
    display: flex;
}
.button {
    margin: 0 auto;
    width: 100px;
}
